<div class="container">
    <div class="contenedor" style="color: white;">
        <h2>Web App Santa Elena</h2>
        <p style="font-size: large; font-weight: bold;">Este proyecto existe por la necesidad de identificar un gestor de subvenciones enfocado en problemas digno de implementar los talleres que ofrece la Universidad Peruana Unión en la comunidad de Quinta Elena.</p>
    </div>
</div>
<img width="100%" src="https://scontent-lim1-1.xx.fbcdn.net/v/t1.6435-9/41897979_10155702220513091_236017317727698944_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8631f5&_nc_eui2=AeE_O6_szPiVU-PquwaUT3XLST0pz9rsXoVJPSnP2uxehQjea55KGB_glSDQec9krefftm3CR1557XqhvJynb7mP&_nc_ohc=tH5nzGChlpcAX8FM_9s&tn=CEZL11xCEOS82AUd&_nc_ht=scontent-lim1-1.xx&oh=00_AfCMjJgkVib5RcAbpF42tp6AHj4VI_doBwoz3L4fxrOt7g&oe=63C16308" alt="">
