<ng-template #formTaller let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{lblTaller}}</h4>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click');clear()"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label class="form-label">Tema</label>
                <input [(ngModel)]="newTaller.tema" name="tema" type="text" class="form-control"
                    placeholder="Ingrese el tema del taller...">
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha</label>
                <div class="input-group">
                    <input id="fecha" class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="modelFecha"
                        ngbDatepicker #d="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                        type="button"></button>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Lugar</label>
                <input [(ngModel)]="newTaller.lugar" name="lugar" type="text" class="form-control"
                    placeholder="Ingrese el lugar del taller...">
            </div>
            <div class="mb-3">
                <label class="form-label">Dirección</label>
                <input [(ngModel)]="newTaller.direccion" name="direccion" type="text" class="form-control"
                    placeholder="Ingrese la dirección del taller...">
            </div>
            <div class="mb-3">
                <label class="form-label">Programa</label>
                <select [(ngModel)]="newTaller.programa.id" name="programa" class="form-select"
                    aria-label="Default select example">
                    <option selected [value]="0">--Seleccione programa--</option>
                    <option *ngFor="let programa of lstProgramas" [ngValue]="programa.id">{{programa.nombre}}</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="save()">{{lblButtonTaller}}</button>
    </div>
</ng-template>

<ng-template #formAsistencia let-modalAsistencia>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Tomar Asistencia</h4>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="modalAsistencia.dismiss('Cross click');clear()"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label class="form-label">Sesión</label>
                <select (change)="changeSesion()" [(ngModel)]="newAsistencia.sesion.id" name="sesion"
                    class="form-select" aria-label="Default select example">
                    <option selected [value]="0">--Seleccione Sesión--</option>
                    <option *ngFor="let sesion of lstSesiones" [ngValue]="sesion.id">{{sesion.nombre}}</option>
                </select>
            </div>
        </form>
    </div>

    <table class="table table-light" *ngIf="newAsistencia.sesion.id != 0">
        <thead>
            <tr style="text-align: center;">
                <th scope="col">Persona</th>
                <th scope="col">Asistencia</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let asistencia of lstAsistencias" style="text-align: center;">
                <td>{{asistencia.persona.nombres}} {{asistencia.persona.paterno}} {{asistencia.persona.materno}}</td>
                <td *ngIf="asistencia.estado == 0">
                    <i
                        placement="end"
                        [ngbPopover]="popContent"
                        triggers="manual"
                        #p1="ngbPopover"
                        (click)="toggleAsistencia(p1, asistencia.id)"
                        style="color: red;" class="bi bi-x-circle-fill">
                    </i>
                </td>
                <td *ngIf="asistencia.estado == 1">
                    <i
                        placement="end"
                        [ngbPopover]="popContent"
                        triggers="manual"
                        #p2="ngbPopover"
                        (click)="toggleAsistencia(p2, asistencia.id)"
                        style="color: orange;" class="bi bi-clock-fill">
                    </i>
                </td>
                <td *ngIf="asistencia.estado == 2">
                    <i
                        placement="end"
                        [ngbPopover]="popContent"
                        triggers="manual"
                        #p3="ngbPopover"
                        (click)="toggleAsistencia(p3, asistencia.id)"
                        style="color: greenyellow;"
                        class="bi bi-check-circle-fill">
                    </i>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="saveAsistencia()">Guardar Asistencia</button>
    </div>
</ng-template>

<ng-template #popContent let-id="id">
    <span>
        <i (click)="tempChangeAsistencia(id, 0)" style="color: red;" class="bi bi-x-circle-fill"></i>&nbsp;
        <i (click)="tempChangeAsistencia(id, 1)" style="color: orange;" class="bi bi-clock-fill"></i>&nbsp;
        <i (click)="tempChangeAsistencia(id, 2)" style="color: greenyellow;" class="bi bi-check-circle-fill"></i>
    </span>
</ng-template>

<div class="row">
    <div class="col-6">
        <h4>Talleres</h4>
    </div>
    <div class="col-6">
        <button class="btn btn-primary float-end" (click)="open(formTaller,'new')">Nuevo</button>
    </div>
</div>
<hr>
<div class="table-responsive">
    <table class="table table-primary table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tema</th>
                <th scope="col">Fecha</th>
                <th scope="col">Lugar</th>
                <th scope="col">Dirección</th>
                <th scope="col">Programa</th>
                <th scope="col">Acción</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let programa of lstTallers">
                <th scope="row">{{programa.id}}</th>
                <td>{{programa.tema}}</td>
                <td>{{programa.fecha}}</td>
                <td>{{programa.lugar}}</td>
                <td>{{programa.direccion}}</td>
                <td>{{programa.programa.nombre}}</td>
                <td><button class="btn btn-primary" (click)="open(formAsistencia);asistencia(programa.id)">Tomar Asistencia
                        <i class="bi bi-person-check-fill"></i></button></td>
                <td><button class="btn btn-success" (click)="open(formTaller,'edit');editar(programa.id)"><i
                            class="bi bi-pencil-square"></i></button></td>
                <td><button class="btn btn-danger" (click)="eliminar(programa.id)"><i class="bi bi-trash"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>